:root {
  --color-blue-1: #37517e;
  --color-blue-2: #47b2e4;
  --color-grey-1: #848484;
  --color-grey-2: #444444;
}

* {
  margin: 0;
}


header {
  height: auto;
  background-color: var(--color-blue-1);
  color: white;
  background-size: contain;
  background-position: center 90px;
  background-repeat: no-repeat;
}


.navbar button {
  background:none ;
  border: none;
  font-size: 2rem;
  color: white;
  
}

.btn1 {
  border: 0px solid;
  border-radius: 1500px;
  background-color: #47b2e4;
  padding: 10px;
  color: white;
}
.btn2 {
  background:none;
  border: none;
  color: white;
}

i {
  color: #47b2e4;
  font-size: 1.2rem; 
}

.logos img {
  height: 60px;
}

@media (min-width : 992px) {
  .logos img {
    
    filter:grayscale();
  }  
}

.cards i {
  font-size: 2rem;
  color: #47b2e4;
}

.cta {
  background-image: url(images/cta-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  color: white;
}

.overlay {
  background-color: rgba(2, 62, 138, 0.7);
}

.btn-cta {
  border: 2px solid white;
  background: none;
  color: white;
  padding: 10px 35px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 50px;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: var(--color-grey-2);
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Jost', sans-serif;
  font-weight: 700;
  color: var(--color-blue-1);
}


h2 {
  text-align: center;
  position: relative;
}

h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: -9px;
  left: calc(50% - 60px);
}

h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #47b2e4;
  bottom: -10px;
  left: calc(50% - 20px);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

.hero {
  padding-top: 100px;
  background-color: var(--color-blue-1);
}

.hero h1,
.hero h3 {
  color: white;
}

.hero h3 {
  color: rgba(255, 255, 255, 0.6);
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: var(--color-blue-2);
}

.navbar-brand {
  color: white;
}

.btn-outline-primary {
  --bs-btn-color: white;
  --bs-btn-border-color: var(--color-blue-2);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-blue-2);
  --bs-btn-hover-border-color: var(--color-blue-2);
  --bs-btn-focus-shadow-rgb: 13, 110, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-blue-2);
  --bs-btn-active-border-color: var(--color-blue-2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: var(--color-blue-2);
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: var(--color-blue-2);
  --bs-gradient: none;
  border-radius: 19px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--color-blue-2);
  --bs-btn-border-color: var(--color-blue-2);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--color-blue-2);
  --bs-btn-hover-border-color: var(--color-blue-2);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--color-blue-2);
  --bs-btn-active-border-color: var(--color-blue-2);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: var(--color-blue-2);
  --bs-btn-disabled-border-color: var(--color-blue-2);
  border-radius: 19px;
}

.btn-primary.btn-xxl,
.btn-outline-primary.btn-xxl {
  padding: 0.6rem 1.5rem;
  border-radius: 23px;
}

.mainmenu {
  transition: all 0.5s;
}

.mainmenu.header-scrolled {
  background-color: rgba(40, 58, 90, 0.9);
}
