* {
  margin: 0;
}

header {
  height: 700px;
  background-image: url(images/hero-img.png);
  background-color: #0077b6;
  color: white;
  background-size: contain;
  background-position: center 90px;
  background-repeat: no-repeat;
}

.custom-size {
  font-size: 2.5rem;
}

.navbar button {
  background-color: #0077b6;
  border: none;
  font-size: 2rem;
  color: white;
}

.btn1 {
  border: 0px solid;
  border-radius: 1500px;
  background-color: #48cae4;
  padding: 10px;
  color: white;
}
.btn2 {
  background-color: #0077b6;
  border: none;
  color: white;
}

.logos {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #d5f3f9;
}

.logos img {
  width: 40%;
  padding: 15px;
}

.abouts-us {
  margin-top: 45px;
}

.bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1px;
  margin-bottom: 35px;
}

.bar-segment {
  height: 2px;
  width: 30px;
  background-color: gray;
}

.bar-segment.middle {
  width: 60px;
  height: 3px;
  background-color: #0077b6;
}

.custom-list {
  list-style: none;
  padding-left: 15px;
}
.custom-list i {
  color: #00b4d8;
}

.learn-more-btn {
  border: 2px solid #00b4d8;
  border-radius: 5px;
  background-color: white;
  padding: 5px 20px;
  color: #00b4d8;
  margin-bottom: 30px;
}

.why-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
  background: url(/images/why-us.png) no-repeat center 30px / 70% #d5f3f9;
}

.why-us-title {
  margin-top: 255px;
}

.why-us h2,
.why-us p {
  color: #023e8a;
  font-size: 1.5rem;
}

.accordion-header button {
  background-color: #fff;
  color: #000;
}

.accordion-container {
  min-height: 290px;
  gap: 10px;
}

.skills {
  background-image: url(/images/skills.png);
  background-size: contain;
  background-position: center 8%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 750px;
}

.skills h1 {
  margin-top: 285px;
  color: #023e8a;
}

.skills-container {
  width: 100%;
  padding: 20px;
}

.skill {
  margin-bottom: 10px;
}

.skill p {
  font-weight: bold;
  margin-bottom: 5px;
}

.skill-bar {
  background-color: #d5f3f9;
}

.skill-level {
  background-color: #023e8a;
  height: 10px;
  text-align: right;
  line-height: 10px;
  color: white;
  padding-right: 5px;
}

.services {
  background-color: #d5f3f9;
}

.services h1 {
  margin-top: 45px;
  color: #023e8a;
}

.card-services {
  background-color: #e9ecef;
  gap: 15px;
  height: 750px;
}
.first-container,
.second-container,
.third-container {
  background-color: white;
  width: 95%;
}

.call-to-action {
  position: relative;
  background-image: url(images/cta-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}

.overlay {
  background-color: rgba(2, 62, 138, 0.7);
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.call-to-action h1 {
  color: white;
  margin-top: 50px;
  margin-bottom: 20px;
}

.call-to-action p {
  color: white;
  margin-bottom: 20px;
}

.call-to-action button {
  border: 2px solid white;
  background: none;
  color: white;
  padding: 10px 35px;
  border-radius: 50px;
  cursor: pointer;
  margin-bottom: 50px;
}
